
.container
	.row
		.span8
			%h1 Your Dashboard
		.span2= link_to "New List <i class='icon-plus-sign'></i>".html_safe, new_list_path
		.span2= link_to "New Item <i class='icon-plus-sign'></i>".html_safe, new_list_item_path


	.row
		.span6
			.well
				%h3 
					Items Assigned to You
					%small= link_to "View All Items", list_items_path
				%p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		.span6
			.well
				%h3 
					=link_to "Your Lists", lists_path
				%p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.