/ %p#notice= notice

%p
  %b Name:
  = @item.name
%p
  %b Description:
  = @item.description || "None"
%p
  %b Created By: REFACTOR


= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', root_path
