// Variables

$lightBlue: #faf6e3;
$darkTan: #887c6b;
$grayTan: #e0d8c3;
$darkestTan: #504433;
$lightPeach: #EC6C56;
$darkPeach: #A3301C;
$darkestPeach: #6C1000;

$textColor: $darkestTan;
$btnSuccessBackground: #75b97b;
$btnSuccessBackgroundHighlight: #3D7540;

//$btnPrimaryBackground: $lightPeach;
